

<Doctype!>

    <html>
        <head></head>
    
        <h1> Login </h1>
    
        <form action="/user/login" method="POST">
           <input type="email" name="email" placeholder="Your Email" >
           <input type="password" name="password" placeholder="Password" >
           <button type="submit">Login</button>
        </form>
    </html>